body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.color {
    color: orangered;
}

.con {
    display: flex;
    margin-bottom: 150px;

}

.half {
    width: 50%;
    padding-left: 4%;
    margin-top: 70px;
}

.half img {
    width: 60%;
    border-radius: 50%;


}

.button {
    background: orangered;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    margin-top: 10PX;

}

.top {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding: 0px;
}

.middle {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.half-width {
    box-shadow: 10px 10px 45px grey;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 3%;
}


.exp {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#gorar {
    border-left: 8px solid sandybrown;
}

#dim {
    border-left: 8px solid blue;
}

footer p {
    text-align: center;
    font-weight: 700;
}